@import "../../sass/index.scss";

.slideshow {
  margin-top: 18px;
}

.wrapper {
  margin-top: 70px;
  padding: 0 44px 78px;
  overflow: hidden;
  .heading {
    font-size: 28px;
    font-weight: 800;
  }
}

.scrollList {
  margin-bottom: 8px;
}
