@import "../../../sass/index.scss";

.formWrapper {
  height: 100%;
}

.headingLabel {
  font-weight: 700;
  font-size: 15px;
  margin: 8px 0;
}

.boxForm {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.rowForm {
  padding: 14px 0;
}

.utilitiesHeading {
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
}

.selectLocation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .selectItem {
    margin-right: 4px;
    width: 33.3333%;
  }
}

.headingCheck {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  label {
    margin-left: 20px;
    height: 24px;
    background-color: $primary-color;
    color: $white-color;
    border-radius: 4px;
  }
}

.checkboxUtil {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  label {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 12px;
    font-weight: 500;
  }
}

.btnUpload {
  background-color: $greyish-color;
  border-radius: 8px;
  height: 40px;
  cursor: pointer;
}

.btnUpload::-webkit-file-upload-button {
  width: 60%;
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.previewImg {
  margin-top: 14px;
}

.imgThumbnail {
  width: 240px;
  border-radius: 4px;
}

.imgDetail {
  width: 180px;
  margin: 0 8px;
  border-radius: 4px;
}

.error {
  color: $secondary-color;
  font-size: 12px;
  font-weight: 500;
  display: block;
}
