* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}
