$primary-color: #087aea;
$primary-light-color: #65a8ff;
$primary-dark-color: #004fb7;

$secondary-color: #c94a00;
$secondary-light-color: #ff7a36;
$secondary-dark-color: #911600;


$white-color: #ffffff;
$black-color: #000000;
$text-color: #242424;
$gray-color: #666;
$greyish-color: #ccc;
$white-grey-color: #d7d7db;
$power-blue-color: #0af2dd;
$footer-bg: #181821;
