$primary-color: #087aea;
$secondary-color: #ff0000;
$white-color: #ffffff;
$black-color: #000000;
$text-color: #333;
$gray-color: #666;
$greyish-color: #ccc;
$white-grey-color: #d7d7db;
$power-blue-color: #0af2dd;
$footer-bg: #181821;
