$primary-color: #087AEA;
$secondary-color: #ff0000;
$white-color: #ffffff;
$black-color: #000000;
$text-color: #333;
$gray-color: #666;
$greyish-color: #ccc;
$white-grey-color: #D7D7DB;
$power-blue-color: #0AF2DD;
