@import '../../sass/index.scss';

.container {
  margin-bottom: 48px;
  padding: 0;
  margin-left: 46px;
  .containerTop {
    margin-bottom: 48px;
    .heading {
      font-size: 28px;
      font-weight: 900;
      color: $text-color;
      margin: 18px 0;
    }
  }
  .headingTab {
    margin-top: 16px;
    border-bottom: 2px solid $text-color;
      width: 140px;
    .headingTabName {
      font-size: 16px;
      font-weight: 700;
      color: $text-color;
      padding-bottom: 14px;
      text-align: center;
    }
  }

  .NoResultMessage {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 32px;
  }
}