@import "../../sass/index.scss";
.wrapper {
  --width: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  position: sticky;
  left: 0;
  top: 30px;
  width: 92px;
  padding: 0 8px;

  .button {
    background-color: $primary-color !important;
    svg {
      font-weight: 700;
      font-size: 20px;
    }
  }

  .navbarList {
    margin: 12px 0;
    padding-left: 0;
    li a {
      width: 72px;
      height: 72px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 4px;
      color: $text-color;
      text-decoration: none;
      svg {
        font-size: 20px;
      }
      span {
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        margin-top: 6px;
      }
    }
  }
  .active {
    background-color: $white-grey-color;
    border-radius: 12px;
  }
}
