@import "../../sass/index.scss";

.wrapper {
  --width: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  position: sticky;
  left: 0;
  top: 30px;
  width: var(--width);
  padding: 0 8px;

  .button {
    background-color: $primary-color !important;
    svg {
      font-weight: 700;
      font-size: 20px;
    }
  }

  .navbarList {
    margin: 12px 0;
    padding-left: 0;
    li a {
      width: 72px;
      height: 72px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 4px;
      color: $text-color;
      text-decoration: none;
      svg {
        font-size: 20px;
      }
      span {
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        margin-top: 6px;
      }
    }
  }
  .active {
    background-color: $white-grey-color;
    border-radius: 12px;
  }
}

@include responsiveStyle(0, 1023px) {
  .wrapper {
    background-color: $white-color;
    width: 60%;
    position: absolute;
    top: 66px;
    left: -100%;
    bottom: 0;
    z-index: 99;
    animation: slideOut 0.8s ease-out;
  }
  .show {
    left: 0;
    animation: slideIn 0.5s ease;
  }
  .navbarList {
    margin: 12px 0;
    padding-right: 12px;
    width: 100%;
    height: 100%;
    .tabItemMobile {
      display: flex;
      flex-direction: row !important;
      align-items: center;
      justify-content: flex-start !important;
      width: 100% !important;
      margin-left: 30px;
      svg {
        margin-right: 12px;
      }
      span {
        text-align: center !important;
        font-size: 16px !important;
        font-weight: 400 !important;
      }
    }
  }
}
