@import "./src/sass/index.scss";

.withSidebar {
  display: flex;
  min-height: 100vh;
  overflow: hidden;

  .sideBarWrapper {
    flex-shrink: 0;
    @include responsiveStyle(0, 1023px) {
      display: block;
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;

      z-index: 9;
      animation: fadeIn 0.5s ease;
    }
  }

  .contentWrapper {
    flex: 1;
    max-width: calc(100% - 92px);
    padding: 0 40px 0 20px;
    @include responsiveStyle(0, 1023px) {
      max-width: 100%;
      padding: 0 32px;
    }
  }
  .hiddenSidebar {
    display: none;
  }
}

@include responsiveStyle(0, 1023px) {
  .showMasked {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
